.construction-network-search {
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 2px 5px #00000014;
    opacity: 0%;
    animation-delay: 0ms;
    animation: FadeIn 500ms;
    animation-fill-mode: forwards;
    position: sticky;
    top: 0px;
    z-index: 10000;
    width: 100%;
    justify-content: center;
    padding: 24px;

    form {
        display: flex;
        justify-content: center;
    }

    button {
        margin: 0;
        height: 4rem;
        min-width: 10rem;
    }

    .zip {
        width: 12rem;
        background: #fff url(../img/location_on-24px.svg) no-repeat 9px center;
        padding: 12px 12px 12px 4.0rem;
        margin-right: .8rem;
    }

    input[type=text] {
        width: 110px;
        margin-right: 8px;
    }

    select {
        width: 140px;
        margin-right: 8px;
        padding: 12px 12px 12px 12px;
        color: #999;
        font-size: 14px;
        padding: 9px 12px;
        background-color: #ffffff;
        border: none;


        color: #2f3437;
        display: block;
        font-size: 14px;
        line-height: 16px;
        background: #fff url(../img/expand_more-24px.svg) no-repeat;
        -webkit-appearance: none;
        background-position: center right 8px;


        &:hover {
            cursor: pointer;
        }

        &:focus {
            box-shadow: 0 0 0 1px #2066df, 0 0 0 3px #e4edfb;
            outline: none;
        }
    }

    input[type=search] {
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        font-size: 14px;
        margin-right: 8px;
    }

    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button {
        display: none;
    }


    input[type=search] {
        background: #fff url(../img/search-24px.svg) no-repeat 9px center;
        padding: 12px 12px 12px 40px;
        max-width: 400px;
        width: 100%;
    }

    input[type=search]:focus {}


    input:-moz-placeholder {
        color: #999;
        font-size: 14px;
    }

    input::-webkit-input-placeholder {
        color: #999;
    }

}


.business-srp-page {
    width: 95%;
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    opacity: 0%;
    animation-delay: 0ms;
    animation: FadeIn 1000ms;
    animation-fill-mode: forwards;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 80px;

    h1 {
        margin-bottom: 2.4rem;
        font-weight: 500;
font-size: 2.4rem;
    }



    &_results {
        width: 60%;
        min-height: 100vh;
        margin-bottom: 56px;

        .options {
            display: flex;
            justify-content: space-between;

            &__count {
                font-size: 14px;
                font-weight: 600;
            }

            &__sort {
                font-size: 14px;

                select {

        font-size: 14px;
        border: none;
        line-height: 3.2rem;
        height: 3.2rem;
        border-radius: 4px;
        padding-left: 8px;
        font-weight: 600;
        color: #232729;
        margin-bottom: 8px;


       width: 150px;
        white-space: nowrap;
        text-overflow: ellipsis;
        background: url(../img/expand_more-24px.svg) no-repeat;
    -webkit-appearance: none;
    background-position: center right 8px;
                }
            }
        }


        &_header {
            margin-bottom: 24px;
            width: 100%;
            ;
        }

        &_cards {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 7.6rem;


            &_listing {
                background: #FFFFFF;

                border-radius: 8px;
                display: flex;
                transition: 300ms;
                border: 1px solid rgba(0, 0, 0, .10);
                opacity: 0%;
                animation: tileAppear 1000ms cubic-bezier(0, 0, 0, 1.47);
                animation-fill-mode: forwards;
                padding: 1.6rem;
                color: #171A1C;
                margin-bottom: 1.6rem;
                text-align: left;
                min-width: 43rem;

                width: 100%;

                &:not(:last-child) {
                    margin-right: 1.6rem;
                }


                &:hover {
                    box-shadow: 0px 2px 5px #D4D7E4;
                    border: 1px solid #2066DF;
                    cursor: pointer;

                }

                .listing_logo {
                    width: 10rem;
                    height: 10rem;
                    margin-right: 1.6rem;
                    background-color: #fff;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    border-radius: 4px;
                    border: 1px solid #F4F5F6;


                    &_turner {
                        background-image: url(../img/turner.png);
                    }

                    &_unander {
                        background-image: url(../img/unander-logo.png);
                    }

                    &_AC {
                        background-image: url(../img/ACelectric.png);
                    }

                    &_JP {
                        background-image: url(../img/jim-peterson.png);
                    }
                }



                .listing_info {

                    &_heading {
                        font-size: 14px;
                        font-weight: normal;
                        color: #5E696E;
                        width: 100%;
                    }

                    &_name {
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 32px;
                    }

                    &_work-performed {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 20px;
                    }

                    &_market-sector {
                        font-size: 14px;
                        line-height: 20px;
                    }

                    &_area-covered {
                        font-size: 14px;
                        font-weight: 600;
                        margin-top: 8px;
                        margin-bottom: 8px;
                    }

                    &_certifications {
                        display: flex;
                        flex-wrap: wrap;

                        &_token {
                          background-color: #E3E6E8;

                          padding: 2px 8px;
                          border-radius: 4px;
                          font-weight: bold;
                          font-size: 10px;
                          text-align: center;
                          letter-spacing: 0.75px;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          width: fit-content;
                          margin-right: 4px;
                          text-transform: uppercase;

                            i {
                                font-size: 15px;
                                margin-right: 4px;
                            }
                        }
                    }
                }

            }


        }
    }

    &_maps-and-links {
        width: 40%;
        height: calc(100vh - 125px);
        padding-top: 40px;
        position: sticky;
        top: 66px;

        &_map {
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0px 1px 2px #D4D7E4;
            padding: 4px 4px 0px 4px;
            background: #fff;

         .SRP-iframe-map {
           height: calc(100vh - 125px);
           border-radius: 4px;
         }


        }

        &_link {
            background: #fff;
            border-radius: 4px;
            overflow: hidden;
            padding: 16px;
            display: flex;
            box-shadow: 0px 1px 2px #D4D7E4;
            margin-bottom: 16px;
            animation-delay: 0ms;
            animation: moveInRight 800ms;
            animation-fill-mode: forwards;

            .add-icon {
                width: 48px;
                margin-right: 12px;

                img {
                    position: relative;
                    top: 5px;
                }
            }

            .add-content {
                h2 {
                    font-size: 20px;
                    font-weight: bold;
                        margin-bottom: 24px;
                }

                p {
                    font-size: 14px;
                    color: #555;
                    margin-bottom: 12px;
                }

                a {
                    font-size: 14px;
                    color: #FF5200;
                }
            }
        }
    }

    .landing-page-section {
        margin: 0px
    }
}

.srp-filters {
    border-bottom: 1px solid #E3E6E8;
    padding-bottom: 8px;

    select {
        outline: none;
        background-color: #E3E6E8;
        font-size: 14px;
        border: none;
        line-height: 32px;
        height: 32px;
        border-radius: 4px;
        padding-left: 8px;
        font-weight: 600;
        color: #232729;
        margin-bottom: 8px;
       width: 150px;
        white-space: nowrap;
        text-overflow: ellipsis;
        background: #EEF0F1 url(../img/expand_more-24px.svg) no-repeat;
    -webkit-appearance: none;
    background-position: center right 8px;


        &:not(:last-child) {
            margin-right: .8rem;
        }

        option {
            width: 100px;
        }
    }
}

.filter-reveal:checked + .filter-reveal-checkbox {
        background: #2066DF;
        color: #ffffff;
    }

    .filter-reveal {
        display: none;
    }

    .filter-reveal-checkbox {
        font-size: 14px;
        font-weight: 500;
        background: #EEF0F1;
        border-radius: 100px;
        padding: 0px 10px 4px 10px;
        transition: 100ms;
        display: none;
        margin-right: 70vw;;
        margin-bottom: 8px;


        &:hover {
            cursor: pointer;

        }

        .material-icons-round {
            position: relative;
                top: 6px;
        }

    }
