.construction-network-search {
  margin: 0 auto;
  padding: 24px calc(20% + 24px);
  background: #fff;
  box-shadow: 0px 2px 5px #00000014;
  margin-bottom: 32px;
  opacity: 0%;
  animation-delay: 0ms;
  animation: FadeIn 500ms;
  animation-fill-mode: forwards;
  position: fixed;
  top: 64px;
  z-index: 10000;
  width: 100%;
  justify-content: center;

  form {
    display: flex;
  }
  button {
    margin: 0;
    height: 40px;
  }

.zip {
 width: 120px;
 background: #fff url(../img/location_on-24px.svg) no-repeat 9px center;
 padding: 12px 12px 12px 40px;
 margin-right: 8px;
}

input[type=text] {
 width: 120px;
 margin-right: 8px;
}
select {
  width: 120px;
  margin-right: 8px;
  padding: 12px 12px 12px 12px;
  color: #999;
  font-size: 14px;
  padding: 9px 12px;
    background-color: #ffffff;
    border: none;
    box-shadow: 0 0 0 1px #75838a;
    border-radius: 2px;
    color: #2f3437;
    display: block;
    font-size: 14px;
    line-height: 16px;
    background: #fff url(../img/expand_more-24px.svg) no-repeat 89px center;
    -webkit-appearance: none;


    &:hover  {
    cursor: pointer;
}

    &:focus {
      box-shadow: 0 0 0 1px #2066df, 0 0 0 3px #e4edfb;
    outline: none;
    }
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-size: 14px;
  margin-right: 8px;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}


input[type=search] {
	background: #fff url(../img/search-24px.svg) no-repeat 9px center;
	padding: 12px 12px 12px 40px;
	width: 420px;
}
input[type=search]:focus {

}


input:-moz-placeholder {
	color: #999;
  font-size: 14px;
}
input::-webkit-input-placeholder {
	color: #999;
}

}


.business-srp-page {
  display: flex;
  margin: 0 auto;
  padding: 0px 24px;
  opacity: 0%;
  animation-delay: 0ms;
  animation: FadeIn 1000ms;
  animation-fill-mode: forwards;
  margin-top: 200px;


  &_filters {
    width: 20%;
    height: 100vh;
   padding: 8px;
   padding-top: 64px;
   text-align: center;

  h1 {
 color: grey;
  }
  }


  &_results {
    width: 50%;
    height: 100vh;
    padding: 8px;

    &_header {
      margin-bottom: 24px;
    }

    &_cards {

      &_listing {
      background: #FFFFFF;
      box-shadow: 0px 10px 25px #D4D7E4;
      border-radius: 8px;
      display: flex;
      transition: 300ms;
      border: 1px solid #fff;
      opacity: 0%;
      animation: tileAppear 1000ms cubic-bezier(0, 0, 0, 1.47);
      animation-fill-mode: forwards;
      padding: 24px;
      color: #171A1C;
      margin-bottom: 16px;


      &:hover {
        box-shadow: 0px 2px 5px #D4D7E4;
        border: 1px solid #2066DF;
        cursor: pointer;

      }

     .listing_logo {
       width: 160px;
       height: 160px;
       margin-right: 16px;
       background-color: #fff;
       background-size: contain;
       background-position: center;
       background-repeat: no-repeat;
       border-radius: 4px;
       border: 1px solid #F4F5F6;


       &_turner {
         background-image: url(../img/turner.png);
       }

       &_unander {
         background-image: url(../img/unander-logo.png);
       }
       &_AC {
         background-image: url(../img/ACelectric.png);
       }

       &_JP {
          background-image: url(../img/jim-peterson.png);
       }
     }



     .listing_info {

       &_heading {
         font-size: 14px;
         font-weight: normal;
         color: #5E696E;
         width: 100%;
       }

       &_name {
         font-weight: bold;
         font-size: 24px;
         line-height: 32px;
       }
       &_work-performed {
         font-weight: 600;
         font-size: 14px;
         line-height: 20px;
       }

       &_market-sector {
         font-size: 14px;
         line-height: 20px;
       }
       &_area-covered {
         font-size: 14px;
         font-weight: 600;
         margin-top: 16px;
         margin-bottom: 16px;
       }

       &_certifications {
         display: flex;
         flex-wrap: wrap;

        &_token {
           background-color: #1D5CC9;
           color: #fff;
           padding: 2px 8px;
           border-radius: 4px;
           font-weight: bold;
           font-size: 10px;
           text-align: center;
         letter-spacing: 0.75px;
         display: flex;
         justify-content: center;
         align-items: center;
         width: fit-content;
         margin-right: 4px;
         text-transform: uppercase;

         i{
           font-size: 15px;
           margin-right: 4px;
         }
         }
       }
     }

    }


    }
  }



  &_maps-and-links {
    width: 30%;
    height: 100vh;
    padding: 8px;
    padding-top: 64px;

    &_map {
      border-radius: 4px;
      overflow: hidden;
      height: 400px;
      margin-bottom: 16px;
      box-shadow: 0px 1px 2px #D4D7E4;
      padding: 8px;
      background: #fff;
      animation-delay: 0ms;
      animation: moveInRight 800ms;
      animation-fill-mode: forwards;
    }

    &_link {
      background: #fff;
      border-radius: 4px;
      overflow: hidden;
     padding: 16px;
      display: flex;
      box-shadow: 0px 1px 2px #D4D7E4;
      margin-bottom:16px;
      animation-delay: 0ms;
      animation: moveInRight 800ms;
      animation-fill-mode: forwards;

      .add-icon {
        width: 48px;
        margin-right: 12px;

        img {
          position: relative;
          top: 5px;
        }
      }

      .add-content {
        h2 {
          font-size: 20px;
          font-weight: bold;
        }

        p {
          font-size: 14px;
          color: #555;
          margin-bottom: 12px;
        }
        a {
          font-size: 14px;
          color: #FF5200;
        }
      }
    }
  }
}
