.site-header {
  background: #fff;
  width: 100vw;
  height: 77px;
  padding-right: 24px;
  z-index: 100;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 200;
    border-bottom: 1px solid rgba(0,0,0,.08);
 
    

  &_logo {
     margin-left: 50px;
     width: 150px;
      margin-right: 24px;


    &_img {
        width: 150px;
    }
  }

    .header-buttons {
        margin: 0px 0px 0px auto;
        height: 48px;
        
        &--login {
            margin: 0px 50px 0px 24px;
             height: 48px;
        }
    }

&_pages {
font-size: 15px;
line-height: 20px;
text-align: center;
font-weight: 500;
letter-spacing: 0.25px;
  li {
    display: inline-block;
transition: 200ms;
       padding: 10px 0 4px;
    margin: 22px 12.5px;
    border-bottom: 2px solid transparent;
    position: relative;


a {
  color: #555;
   
}
  }

  &_selected {
  border-bottom:2px solid #FF5200;
  border-radius: 1px;
  padding-bottom: 12px;
  color: #fff;
  }
  &_selected a{
  color: #fff;
  }
}

}

.revealing-logo {
    left: 50px;
    top: 35px;
    position: absolute;
}

.revealing-button {
      right: 50px;
    top: 23px;
    position: absolute;
}

.reveal {
    visibility: hidden;
}


.tool-header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 24px;
  margin-top:  64px;
  opacity: 0%;
  animation-delay: 100ms;
  animation: FadeIn 1000ms;
  animation-fill-mode: forwards;
  margin-bottom: 24px;

  &_name-and-instruction{

  a {
    color: #000;
    font-weight: 600;
  }
}

&_name {
font-style: normal;
font-weight: bold;
font-size: 34px;
line-height: 44px;
margin-top: 38px;
}

&_actions {
  margin-top: 38px;

}


}
