@include respond(tab-port) {

.network-categories {
  display: none;
}
  .construction-network-search input[type=search] {
      margin: 0px 8px 0px 0px;
      padding: 4px 12px 4px 40px;
  }


    .site-header_logo {
        margin-left: 1rem;
    }

    .site-header .header-buttons--login {
        margin: 0px 1rem 0px auto;
    }
    .construction-network-search {

    }

    .construction-network-search form {
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 65rem;
        margin: 0 auto;
        width: 100%;
    }



    .search-hero input[type=search] {
      border-right: none;
    }

    .search-hero .construction-network-search input {
        margin-right: 0px;

    }

    .search-hero .construction-network-search button,
    .search-hero .construction-network-search select {
        margin-right: 0px;
        width: 100%;
        height: 56px;
        margin-bottom: 8px;
    }

    .construction-network-search input[type=text] {
      display: none;
    }

    .search-hero .construction-network-search button,
    .search-hero .construction-network-search a,
        {
        width: 100%;
        margin-top: 8px;

    }

    .business-srp-page_results_cards_listing:not(:last-child) {
        margin-right: 0px;
    }


    .landing-page-section .similar-businesses {
        overflow: scroll;
    }
    .suggested-cities li:nth-child(2){
      display: none;
    }

    .flex-start {
        flex-wrap: wrap;
    }

    .company-types {
            flex-wrap: nowrap;
            overflow: scroll;

    }

    .business-srp-page_results_cards_listing {
        min-width: 44rem;
            max-width: none;
    }

    .trade-option {
        width: 50%;
        max-width: 22rem;

    }

    //    SRP

    .filter-reveal-checkbox {
        display: inline-block;
    }

//            make filters appear
    .srp-filters {

        select {

            display: none;
        }
    }

  .filter-reveal:checked ~ select {
        display: inline-block;
    }



    .business-srp-page_maps-and-links {
        display: none;
    }

    .business-srp-page_results {
        width: 100%;
    }

    .business-srp-page {

      padding: 2.5%;
    }

    //    sticky search header

    .revealing-logo {
        display: none;
    }

    .revealing-button {
        display: none;
    }

    .reveal, #srp-page, #business-profile {
      .construction-network-search select {
            display: none;
        }

        .zip {
            display: none;
        }

     #search-selector {
       display: none;
     }


    }

    .construction-network-search {
        padding: 8px 2.4rem;
        display: flex;

    }

    .site-header_logo_small {

        display: inline-block;

}





    // business profile pages

      .company-page .sticky-side {
      width: 100%;
      position: fixed;
      left: 0px;
      bottom: 0px;
      z-index: 100000;
      top: 95vh;

    }

    .call-to-action {
      display: flex;
      justify-content: space-between;
      border-radius: 0px !important;
      border-top: 1px solid rgba(0, 0, 0, .12);
      position: fixed;
    bottom: 0;
    width: 100%;
    }

    .second-sticky-card {
      display: none;
    }
    .company-page  {
      padding: 0px 2.4rem;
    }
    .company-page .call-to-action .divider {
      display: none;
    }

    .company-page .call-to-action .company-name {
      display: none;
    }

    .company-page .call-to-action button {
      width: 98%;
      margin: 0px 12px 0px 0px
    }

    .company-page .call-to-action .claim-promt {
      display: none;
    }


.company-page .main-section {
  width: 100%;
}


// utilities

.hide-on-mobile{
    display: none;
}

}


@include respond(phone) {
  .company-page .card-container .business-profile-card {
    width: 100%;

  }
  .company-page .card-container .business-profile-card:not(:last-child) {
      margin-right: 0px;
  }

  .company-page .profile-images .image-1 {
    width: 100%;
  }

  .company-page .profile-images .image-group {
    display: none;
  }

  .construction-network-search input[type=search] {

    min-width: 174px;
    margin-right: 4px;
    background: none;
padding: 12px 12px 12px 15px;
}

.search-hero  {
  .construction-network-search input[type=search] {

    min-width: 70vw;
    margin-right: 4px;
    background: none;
padding: 12px 12px 12px 15px;
}


}
}



// Header Specifically

@media only screen and (max-width: 1100px) and (min-width: 901px)  {

.construction-network-search input[type=search] {
  max-width: 200px;
}

}


@media only screen and (min-width: 1200px)  {

  .business-srp-page_results_cards_listing {

  }

  .business-srp-page_results {
    width: 70%;
  }

  .business-srp-page_maps-and-links {
    width: 30%;
  }
}

@media only screen and (min-width: 1330px)  {

  .business-srp-page_results_cards_listing {

    min-width: 40rem;
    width: 48%;
  }


}


//// video


@media only screen and (max-width: 1200px) {
  video {
    height: 110%;
    width: auto !important;
  }
}
